* {
    padding: 0;
    margin: 0;
}

.site {
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: minmax(0, 1fr);
}

html {
    height: 100%;
    overflow: auto;
}

body {
    font-family: "Instrument Sans", sans-serif;
}

.navbar {
    list-style: none;
    text-align: right;
    background-color: #fff;
    font-family: "Instrument Sans", sans-serif;
    width: 100%;
    height: 84px;
}

.logo {
    vertical-align: top;
    float: left;
    padding: 20px 80px;
}

.navlist li {
    display: inline-block;
    position: relative;
    text-align: center;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.navlist li a {
    display: inline-block;
    padding: 20px 80px;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    justify-content: center;
    color: #000;
    vertical-align: top;
}

.navlist li a:hover {
    background: #f1f1f1;
}

h1 { 
    text-align: center;
    font-size: 40px;
    padding-bottom: 40px;
    padding-top: 40px;
    font-weight: 500;
}

.container1 {
    padding-top: 60px;
}

.container2 {
    margin-bottom: 20px;
}

h2 {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 30px;
    font-weight: 500;
    color: #003B6D;
}

h3 {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: 400;
    color: #003B6D;
    text-decoration: underline;
}

.textbody {
    font-size: 16px;
    padding-bottom: 20px;
    text-wrap: wrap;
}

.lastp {
    padding-top: 20px;
    padding-bottom: 40px;
}

.plist li{
    font-size: 16px;
    padding-bottom: 0px;
    text-wrap: wrap;
    list-style: disc;
}

.plist li a {
    color: #6699cc;
}

/*footer {
    background-color: #003B6D;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: left;
    margin-top: 25px;
    display: grid;
    grid-template-columns: auto 150px 150px auto;
    gap: 125px;
    padding-top: 40px;
    padding-bottom: 25px;
}*/

footer {
    background-color: #003B6D;
    /*position: absolute;
    left: 0;
    bottom: 0;*/
    width: 100%;
    text-align: left;
    margin-top: 25px;
    display: grid;
    grid-template-columns: auto 150px 150px auto;
    gap: 125px;
    padding-top: 40px;
    padding-bottom: 25px;
}

footer p {
    font-size: 12;
    white-space: nowrap;
    padding-bottom: 15px;
}

.button {
    font-family: "Instrument Sans", sans-serif;
    background-color: #6699cc;
    font-size: 16px;
    padding: 16px 40px;
    border-radius: 12px;
    margin-bottom: 45px;
    border-color: #6699cc;
    text-decoration: none;
    color: #000;
}

.button:hover {
    background-color: #003B6D;
}

/*section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 80px;
    padding-right: 100px;
}*/

section {
    display: flex; 
    gap: 200px;
    padding-right: 200px;
    padding-left: 200px;
}

.mainimg {
    padding-top: 40px;
}

.footerheader {
    color: #bdbdbd;
}

.footerlink {
    text-decoration: none;
    color: #000;
}

p a {
    color: #6699cc;
}

.contactimg {
    display: block;
    margin: auto;
}

.formheader {
    padding-left: 50px;
}

#form {
    padding-left: 100px;
    border-radius: 5px;
    padding-bottom: 20px;
}

input[type=text], select {
    width: 100%;
    padding: 20px 10px;
    margin: 10px 0px 0px 0px;
    display: inline-block;
    border: 1px solid #bdbdbd;
    border-radius: 12px;
    box-sizing: border-box;
}

input[type=email], select {
    width: 100%;
    padding: 20px 10px;
    margin: 10px 0px 0px 0px;
    display: inline-block;
    border: 1px solid #bdbdbd;
    border-radius: 12px;
    box-sizing: border-box;
}

input[type=submit] {
    background-color: #6699cc;
    color: black;
    padding: 16px 40px;
    margin: 20px 100px 20px 100px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 16px;
}

input[type=submit]:hover {
    background-color: #003B6D;
}